@charset "UTF-8";
/* 프로젝트 메인페이지
-> 메인페이지에만 나오는 디자인 */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);



/* 공사중표시 */
body{
  outline: 2px dotted red;
}

.top>.logo{
  text-align: center;
  
}

.top>.logo>img{
  width: 250px;
  margin-bottom: 30px;
}