@charset "UTF-8";
/* MenuBtn 모듈용 CSS - menubtn.css */

/* 메뉴 플렉스 */
.fbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* 부모박스 */
.menubtn{
  position: relative;
  width: 306px;
  height: 550px;
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 10px;
  /* aspect-ratio: 1/2; */
  box-shadow: 2px 2px 6px #ccc;
}
/* 이미지박스 */
.imbx{
  clip-path: polygon(100% 0, 100% 80%, 0 95%, 0 0);
}
.imbx img{
}
/* 타이틀박스 */
.titbx{

}
.titbx h3{
  color: #ccc;
  font-size: 13px;
  font-weight: lighter;
}
.titbx h2{
  padding: 20px;
  font-size: 25px;
}
/* 버튼박스 */
.btnbx{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.btnbx button{
  background-color: #fff;
  /* margin-top: 40px; */
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #000;
  font-weight: bold;
  transition: .6s;
  white-space: nowrap;
  cursor: pointer;
}
.btnbx button:hover{
  background-color: #0074e8;
  color: #fff;
  border: none;
}