@charset "UTF-8";

/* RObot PJ 메인 CSS - robot.css */

/* 초기화 */
html,body,h1,h2,p,ul,ol{
  margin: 0;
  padding: 0;
}
/******* 공통클래스 *******/
/* 메탈소재1 배경 */
.mt1{
  background: url(../images/gmetal2.jpg)
  no-repeat center/cover;
}
/* 메탈소재2 배경 */
.mt2{
  background: url(../images/gmetal3.jpg)
  no-repeat center/cover;
}


body{
  background: url(../images/bg.jpg) 
  no-repeat fixed top/cover;
}

/* 공사중표시 */
body *{
  outline: 2px dashed yellow;
}

/************************** 1. 상단영역 **************************/

/************************** 2. 메인영역 **************************/

/* 2-1. 로봇박스 */
.robx{
  /* 패딩 위,아래 */
  padding: 200px 0 400px;
}

/* 로봇머리 */
.head{
  position: relative;
  /* 부모자격 - 하위 div들 */
  width: 250px;
  height: 150px;
  /* 마,영,오! */
  margin: 0 auto;
  border-radius: 35% 35% 0 0; 
  /* 턱깎기 */
  /* clip-path: polygon
  (0 0, 0 50%, 30% 100%, 60% 100%, 100% 50%, 100% 0); */
}
/* 로봇머리 직계하위 div는 모두 앱솔루트 */
.head>div{
  position: absolute;
}

/* 로봇 머리에 가상요소로 머리털박스 만들기 */
.head::before{
  content: '';
  display: block;
  position: absolute;
  top: -59px;
  left: 50%;
  /* 부모는? .head */
  width: 40px;
  height: 60px;
  background: url(../images/robothat.png)
  no-repeat 0/100% 100%;
  transform: translateX(-10%);
}
.head:hover::before{
  content: '';
  display: block;
  position: absolute;
  top: -70px;
  left: 50%;
  /* 부모는? .head */
  width: 60px;
  height: 70px;
  background: url(../images/robothat2.png)
  no-repeat 0/100% 100%;
  transform: translateX(-40%);
}
/* 머리박스 가상요소로 턱만들기 */
.head::after{
  content: '';
  display: block;
  position: absolute;
  /* 부모박스 높이만큼 밀어준다! */
  top: 100%;
  z-index: -1;
  width: 250px;
  height: 100px;
  background: url(../images/gmetal2.jpg)
  no-repeat bottom/100%;
  /* 턱깎기 */
  clip-path: polygon(0 0,33.33% 100%,66.66% 100%,100% 0);
}

/** 눈공통 **/
.eye{
  width: 55px;
  height: 55px;

  /* 배경공통 */
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  /* 둥근모서리 : 50% 원 */  
  border-radius: 50%;
  /* 보더 이중선 : double */
  border: 4px double #000;
}
/* 왼쪽눈 */
.e1{
  top: 45px;
  left: 40px;
  background-image: url(../images/e1.jpg);
  transform: rotate(20deg);
}
/* 오른쪽눈 */
.e2{
  top: 45px;
  right: 40px;
  background-image: url(../images/e2.jpg);
  transform: rotate(-20deg);
}
/* 코 */
.nose{
  top: 85px;
  left: 50%;
  width: 60px;
  height: 85px;
  background: url(../images/nose.jpg)
  no-repeat 0/110% 100%;
  transform: translateX(-50%);
  border-radius: 50px;
}
/* 입 */
.mouth{
  top: 170px;
  left: 85px;
  width: 110px;
  height: 50px;
  background: url(../images/mouth.png)
  no-repeat 0/100% 100%;
  /* transform: translateX(50deg); */
  border-radius: 5px;
  /* transform: skewX(45deg); */
  transform: rotate(-20deg);
}
/* 입옆에 별모양점 가상요소로 만들기 */
.mouth::before,.mouth::after{
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -25px;
  /* 부모는? .mouth */
  width: 15px;
  height: 15px;
  background-color: rgb(70, 49, 49);

  /* 삼각형 클리핑 속성으로 만들기 */
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.mouth::after{
  transform: rotate(180deg) translateY(-30%);
}

/* 
  [ CSS 클리핑 속성 ]
  -> clip-path : polygon(x1, y1, x2, y2...)
  -> 각 좌표쌍은 띄어쓰기로 각 점은 콤마로 구분
  -> 각 점을 연결하여 도형모양만 출력한다!
  -> px은 각 도형 크기 내부의 수치로 쓰고
  %는 도형을 기준한 위치를 %로 나타낸다!
*/

/* 귀 공통 */
.ear{
  width: 60px;
  height: 80px;
  top: 43px;
  z-index: -1;
}
/* 왼쪽귀 */
.er1{
  left: -35px;
  border-radius: 55% 0 0 40%;
}
/* 오른쪽귀 */
.er2{
  right: -35px;
  border-radius: 0 55% 40% 0;
}


/****** 로봇몸통 ******/
.body{
  /* 부모자격 : 하위 직계 div들 */
  position: relative;
  width: 200px;
  height: 420px;
  margin: 0 auto;
  margin-top: 130px;
}

/* 몸통 하위 직계 div 모두 앱솔루트! */
.body>div{
  position: absolute;
}
/* 가상요소로 몸통 상단만들기 */
.body::before{
  content: '';
  display: block;
  position: absolute;
  left: -50px;
  width: 300px;
  height: 200px;
  /* 그라데이션 */
  background-image: 
  linear-gradient(-25deg,rgb(191, 202, 32), rgb(195, 209, 116), #748b1d, #cdcebb);
    /* 몸깎기 */
    clip-path: polygon(10% 0,0 20%,0 50%,10% 100%,90% 100%,100% 50%,100% 20%,90% 0);
}
/* 가상요소로 몸통 하단만들기 */
.body::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 300px;
  height: 170px;
  /* 그라데이션 */
  background-image: 
  linear-gradient(25deg,rgb(199, 188, 29), rgb(31, 98, 143), #d4af07, #bfc49b);
    /* 몸깎기 */
    clip-path: polygon(5% 0,0 10%,0 50%,10% 100%,90% 100%,100% 50%,100% 20%,90% 0);
}


/* 목 */
.neck{
  top: -40px;
  left: 64px;
  width: 70px;
  height: 50px;
  z-index: -2;
}
/* 왼팔 */
/* 오른팔 */
/* 왼다리 */
/* 오른다리 */
/* 왼어깨 */
/* 오른어깨 */
/* TV */

/************************** 3. 하단영역 **************************/

